/* begin Page */

/* Generated with Artisteer version 2.1.0.16090, file checksum is 96BD9E83. */

body
{
	margin: 0 auto;
	padding: 0;
	background-color: #F6F6F3;
	background-image: url('../images/Page-BgTexture.jpg');
	background-repeat: repeat;
	background-attachment: scroll;
	background-position: top left;
}

.Main
{
	position: relative;
	width: 100%;
	left: 0;
	top: 0;
}



.PageBackgroundGradient
{
	position: absolute;
	background-image: url('../images/Page-BgGradient.jpg');
	background-repeat: repeat-x;
	top:0;
	width:100%;
	height: 500px;
	
}


.cleared
{
	float: none;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	font-size:1px;
}


form
{
	padding:0 !important;
	margin:0 !important;
}

table.position
{
	position: relative;
	width: 100%;
	table-layout: fixed;
}
/* end Page */

/* begin Box, Sheet */
.Sheet
{
	position:relative;
	z-index:0;
	margin:0 auto;
	width: 1000px;
	min-width:59px;
	min-height:59px;
}

.Sheet-body
{
	position: relative;
	z-index:1;
	padding: 5px;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl, .Sheet-tc, .Sheet-bc,.Sheet-cr, .Sheet-cl
{
	position:absolute;
	z-index:-1;
}

.Sheet-tr, .Sheet-tl, .Sheet-br, .Sheet-bl
{
	width: 74px;
	height: 74px;
	background-image: url('../images/Sheet-s.png');
}

.Sheet-tl
{
	top:0;
	left:0;
	clip: rect(auto, 37px, 37px, auto);
}

.Sheet-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 37px, 37px);
}

.Sheet-bl
{
	bottom: 0;
	left: 0;
	clip: rect(37px, 37px, auto, auto);
}

.Sheet-br
{
	bottom: 0;
	right: 0;
	clip: rect(37px, auto, auto, 37px);
}

.Sheet-tc, .Sheet-bc
{
	left: 37px;
	right: 37px;
	height: 74px;
	background-image: url('../images/Sheet-h.png');
}

.Sheet-tc
{
	top: 0;
	clip: rect(auto, auto, 37px, auto);
}

.Sheet-bc
{
	bottom: 0;
	clip: rect(37px, auto, auto, auto);
}

.Sheet-cr, .Sheet-cl
{
	top: 37px;
	bottom: 37px;
	width: 74px;
	background-image: url('../images/Sheet-v.png');
}

.Sheet-cr
{
	right:0;
	clip: rect(auto, auto, auto, 37px);
}

.Sheet-cl
{
	left:0;
	clip: rect(auto, 37px, auto, auto);
}

.Sheet-cc
{
	position:absolute;
	z-index:-1;
	top: 37px;
	left: 37px;
	right: 37px;
	bottom: 37px;
	background-color: #EAEAE1;
}


.Sheet
{
	margin-top: 10px !important;
}

.PageBackgroundSimpleGradient, .PageBackgroundGradient, .PageBackgroundGlare
{
	min-width:1000px;
}

/* end Box, Sheet */

/* begin Menu */
/* menu structure */

.artmenu a, .artmenu a:link, .artmenu a:visited, .artmenu a:hover
{
	text-align:left;
	text-decoration:none;
	outline:none;
	letter-spacing:normal;
	word-spacing:normal;
}

.artmenu, .artmenu ul
{
	margin: 0;
	padding: 0;
	border: 0;
	list-style-type: none;
	display: block;
}

.artmenu li
{
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
	float: left;
	position: relative;
	z-index: 5;
	background:none;
}

.artmenu li:hover
{
	z-index: 10000;
	white-space: normal;
}

.artmenu li li
{
	float: none;
}

.artmenu ul
{
	visibility: hidden;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	background:none;
}

.artmenu li:hover>ul
{
	visibility: visible;
	top: 100%;
}

.artmenu li li:hover>ul
{
	top: 0;
	left: 100%;
}

.artmenu:after, .artmenu ul:after
{
	content: ".";
	height: 0;
	display: block;
	visibility: hidden;
	overflow: hidden;
	clear: both;
}
.artmenu, .artmenu ul
{
	min-height: 0;
}

.artmenu ul
{
	background-image: url(../images/spacer.gif);
	padding: 10px 30px 30px 30px;
	margin: -10px 0 0 -30px;
}

.artmenu ul ul
{
	padding: 30px 30px 30px 10px;
	margin: -30px 0 0 -10px;
}




/* menu structure */

.artmenu
{
	padding: 4px 20px 4px 20px;
}

.nav
{
	position: relative;
	height: 31px;
	z-index: 100;
}

.nav .l, .nav .r
{
	position: absolute;
	z-index: -1;
	top: 0;
	height: 31px;
	/* background-image: url('../images/nav.png'); */
}

.nav .l
{
	left: 0;
	right:20px;
}

.nav .r
{
	right: 0;
	width: 990px;
	clip: rect(auto, auto, auto, 970px);
}

/* end Menu */

/* begin MenuItem */
.artmenu ul li
{
	clear: both;
}

.artmenu a
{
	position:relative;
	display: block;
	overflow:hidden;
	height: 23px;
	cursor: pointer;
	text-decoration: none;
	margin-right: 3px;
	margin-left: 3px;
}


.artmenu a .r, .artmenu a .l
{
	position:absolute;
	display: block;
	height: 69px;
	background-image: url('../images/MenuItem.png');
}

.artmenu a .l
{
	left:0;
	right:10px;
}

.artmenu a .r
{
	width:420px;
	right:0;
	clip: rect(auto, auto, auto, 410px);
}

.artmenu a .t 
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	color: #E1E1D6;
	padding: 0 8px;
	margin: 0 10px;
	line-height: 23px;
	text-align: center;
}

.artmenu a:hover .l, .artmenu a:hover .r
{
	top:-23px;
}

.artmenu li:hover>a .l, .artmenu li:hover>a .r
{
	top:-23px;
}

.artmenu li:hover a .l, .artmenu li:hover a .r
{
	top:-23px;
}
.artmenu a:hover .t
{
	color: #212118;
}

.artmenu li:hover a .t
{
	color: #212118;
}

.artmenu li:hover>a .t
{
	color: #212118;
}


.artmenu a.active .l, .artmenu a.active .r
{
	top: -46px;
}

.artmenu a.active .t
{
	color: #000000;
}


/* end MenuItem */

/* begin MenuSeparator */
.nav .separator
{
	display: block;
	width: 1px;
	height: 23px;
	background-image: url('../images/MenuSeparator.png');
}

/* end MenuSeparator */

/* begin MenuSubItem */
.artmenu ul a
{
	display:block;
	text-align: center;
	white-space: nowrap;
	height: 38px;
	width: 180px;
	overflow:hidden;
	line-height: 38px;
	margin-right: auto;


	background-image: url('../images/subitem-bg.png');
	background-position: left top;
	background-repeat: repeat-x;
	border-width: 1px;
border-style: solid;
	border-color: #EAB11F;
}

.nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	display: inline;
	float: none;
	margin: inherit;
	padding: inherit;
	background-image: none;
	text-align: inherit;
	text-decoration: inherit;
}

.artmenu ul a, .artmenu ul a:link, .artmenu ul a:visited, .artmenu ul a:hover, .artmenu ul a:active, .nav ul.artmenu ul span, .nav ul.artmenu ul span span
{
	text-align: left;
	text-indent: 12px;
	text-decoration: none;
	line-height: 38px;
	color: #6B500A;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.artmenu ul ul a
{
	margin-left: auto;
}

.artmenu ul li a:hover
{
	color: #543E08;
	border-color: #EAB11F;
	background-position: 0 -38px;
}

.artmenu ul li:hover>a
{
	color: #543E08;
	border-color: #EAB11F;
	background-position: 0 -38px;
}

.nav .artmenu ul li a:hover span, .nav .artmenu ul li a:hover span span
{
	color: #543E08;
}

.nav .artmenu ul li:hover>a span, .nav .artmenu ul li:hover>a span span
{
	color: #543E08;
}


/* end MenuSubItem */

/* begin Header */
div.Header
{
	margin: 0 auto;
	position: relative;
	z-index:0;
	width: 990px;
	height: 150px;
}


div.Header-jpeg
{
	position: absolute;
	z-index:-1;
	top: 0;
	left: 0;
	width: 989px;
	height: 150px;
	background-image: url('../images/Header.jpg');
	background-repeat: no-repeat;
	background-position: center center;
}
/* end Header */

/* begin Logo */
.logo
{
	display : block;
	position: absolute;
	left: 40px;
	top: 33px;
	width: 950px;
}

h1.logo-name
{
	display: block;
	text-align: left;
}

h1.logo-name, h1.logo-name a, h1.logo-name a:link, h1.logo-name a:visited, h1.logo-name a:hover
{
	font-family: "Trebuchet MS", Arial, Helvetica, Sans-Serif;
	/* font-size: 38px; */
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	padding:0;
	margin:0;
	color: #FCF5E3 !important;
}

.logo-text
{
	display: block;
	text-align: left;
}

.logo-text, .logo-text a
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 19px;
	font-style: normal;
	font-weight: normal;
	padding:0;
	margin:0;
	color: #0E0A01 !important;
}
/* end Logo */

/* begin ContentLayout */
.contentLayout
{
	position: relative;
	margin-bottom: 7px;
	width: 990px;
}
/* end ContentLayout */

/* begin Box, Block */
.Block
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:19px;
	min-height:19px;
}

.Block-body
{
	position: relative;
	z-index:1;
	padding: 3px;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl, .Block-tc, .Block-bc,.Block-cr, .Block-cl
{
	position:absolute;
	z-index:-1;
}

.Block-tr, .Block-tl, .Block-br, .Block-bl
{
	width: 26px;
	height: 26px;
	background-image: url('../images/Block-s.png');
}

.Block-tl
{
	top:0;
	left:0;
	clip: rect(auto, 13px, 13px, auto);
}

.Block-tr
{
	top: 0;
	right: 0;
	clip: rect(auto, auto, 13px, 13px);
}

.Block-bl
{
	bottom: 0;
	left: 0;
	clip: rect(13px, 13px, auto, auto);
}

.Block-br
{
	bottom: 0;
	right: 0;
	clip: rect(13px, auto, auto, 13px);
}

.Block-tc, .Block-bc
{
	left: 13px;
	right: 13px;
	height: 26px;
	background-image: url('../images/Block-h.png');
}

.Block-tc
{
	top: 0;
	clip: rect(auto, auto, 13px, auto);
}

.Block-bc
{
	bottom: 0;
	clip: rect(13px, auto, auto, auto);
}

.Block-cr, .Block-cl
{
	top: 13px;
	bottom: 13px;
	width: 26px;
	background-image: url('../images/Block-v.png');
}

.Block-cr
{
	right:0;
	clip: rect(auto, auto, auto, 13px);
}

.Block-cl
{
	left:0;
	clip: rect(auto, 13px, auto, auto);
}

.Block-cc
{
	position:absolute;
	z-index:-1;
	top: 13px;
	left: 13px;
	right: 13px;
	bottom: 13px;
	background-color: #F0F0EA;
}


.Block
{
	margin: 7px;
}

/* end Box, Block */

/* begin BlockHeader */
.BlockHeader
{
	position:relative;
	z-index:0;
	height: 30px;
	padding: 0 8px;
	margin-bottom: 2px;
}

.BlockHeader .t
{
	height: 30px;
	color: #000000;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	white-space : nowrap;
	padding: 0 8px;
	line-height: 30px;
}

.BlockHeader .l, .BlockHeader .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 30px;
	background-image: url('../images/BlockHeader.png');
}

.BlockHeader .l
{
	left:0;
	right:5px;
}

.BlockHeader .r
{ 
	width:990px;
	right:0;
	clip: rect(auto, auto, auto, 985px);
}





.header-tag-icon
{
	display:inline-block;
	background-position:left top;
	background-image: url('../images/BlockHeaderIcon.png');
	padding:0 0 0 23px;
	background-repeat: no-repeat;
	min-height: 12px;
	margin: 0 0 0 5px;
}


/* end BlockHeader */

/* begin Box, BlockContent */
.BlockContent
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.BlockContent-body
{
	position: relative;
	z-index:1;
	padding: 10px;
}



.BlockContent-body
{
	color:#6D6D4F;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.BlockContent-body a:link
{
	color: #96580D;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.BlockContent-body a:visited, .BlockContent-body a.visited
{
	color: #9A9A74;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.BlockContent-body a:hover, .BlockContent-body a.hover
{
	color: #5F5F45;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
/*
.BlockContent-body ul
{
	list-style-type: none;
	color: #6D6D4F;
	margin:0;
	padding:0;
}

.BlockContent-body li
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	text-decoration: none;
}

.BlockContent-body ul li
{
	padding:0px 0 0px 16px;
	background-image: url('../images/BlockContentBullets.png');
	background-repeat:no-repeat;
	margin:0.5em 0 0.5em 0;
	line-height:1.2em;
}
*/

/* end Box, BlockContent */

/* begin Box, Post */
.Post
{
	position:relative;
	z-index:0;
	margin:0 auto;
	min-width:1px;
	min-height:1px;
}

.Post-body
{
	position: relative;
	z-index:1;
	padding: 15px;
}



.Post
{
	margin: 10px;
}

/* Start images */
a img
{
	border: 0;
}

.article img, img.article
{
	/*border: solid 1px #CCCCB8; 
	margin: 1em;*/
}

.metadata-icons img
{
	border: none;
	vertical-align: middle;
	margin:2px;
}
/* Finish images */

/* Start tables */

.article table, table.article
{
	border-collapse: collapse;
	margin: 1px;
	width:auto;
}

.article table, table.article .article tr, .article th, .article td
{
	background-color:Transparent;
}

.article th, .article td
{
	padding: 2px;
	border: solid 1px #ABAB8C;
	vertical-align: top;
	text-align:left;
}

.article th
{
	text-align:center;
	vertical-align:middle;
	padding: 7px;
}

/* Finish tables */
/* end Box, Post */

/* begin PostHeaderIcon */
.PostHeaderIcon-wrapper
{
	text-decoration:none;
	margin: 0.2em 0;
	padding: 0;
	font-weight:normal;
	font-style:normal;
	letter-spacing:normal;
	word-spacing:normal;
	font-variant:normal;
	text-decoration:none;
	font-variant:normal;
	text-transform:none;
	text-align:left;
	text-indent:0;
	line-height:inherit;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #3E3E2D;
}

.PostHeaderIcon-wrapper, .PostHeaderIcon-wrapper a, .PostHeaderIcon-wrapper a:link, .PostHeaderIcon-wrapper a:visited, .PostHeaderIcon-wrapper a:hover
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 22px;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #3E3E2D;
}

/* end PostHeaderIcon */

/* begin PostHeader */
.PostHeader a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #4D4D38;
}

.PostHeader a:visited, .PostHeader a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #4D4D38;
}

.PostHeader a:hover, .PostHeader a.hovered
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  text-align: left;
  color: #C07111;
}
/* end PostHeader */

/* begin PostContent */
/* Content Text Font & Color (Default) */
body
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  color: #3E3E2D;
 }

.PostContent
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12px;
  font-style: normal;
  font-weight: normal;
  text-align: justify;
  color: #3E3E2D;
}


/* Start Content link style */
/*
The right order of link pseudo-classes: Link-Visited-Hover-Focus-Active.
http://www.w3schools.com/CSS/css_pseudo_classes.asp
http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states/
*/
a
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #91560D;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #91560D;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: underline;
  color: #3B3B2B;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  text-decoration: none;
  color: #5C5C42;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #5C5C42;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #797958;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #797958;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #68684B;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #68684B;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 14px;
  font-style: normal;
  font-weight: bold;
  text-align: left;
  color: #68684B;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #211803;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
}

/*
li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.Post li
{
	padding:0px 0 0px 16px;
	line-height:1.2em;
}

.Post ol li, .Post ul ol li
{
	background: none;
	padding-left:0;
}

.Post ul li, .Post ol ul li 
{
	background-image: url('../images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:16px;
}

*/
/* Finish Content list */
/* end PostBullets */

/* begin PostQuote */
/* Start blockquote */
blockquote p
{
	color:#12120D;
	font-family: Arial, Helvetica, Sans-Serif;
	font-style: italic;
	font-weight: normal;
	text-align: left;
}

blockquote
{
		border:solid 1px #CCCCB8; 
		margin:10px 10px 10px 50px;
	padding:5px 5px 5px 41px;
	background-color:#E3E3D9;
	background-image:url('../images/PostQuote.png');
	background-position:left top;
	background-repeat:no-repeat;
}


/* Finish blockuote */
/* end PostQuote */

/* begin Button */
.Button
{
	display:inline-block;
	width: auto;
	outline:none;
	border:none;
	background:none;
	line-height:34px;
	margin:0;
	padding:0;
	overflow: visible;
	cursor: default;
	text-decoration: none !important;
	z-index:0;
}

.Button .btn
{
	display:block;
	position:relative;
	float:left;
	height: 34px;
	overflow:hidden;
	white-space: nowrap;
	width: auto;
	color: #000000;
}

.Button .btn .t
{
	display:block;
	height: 34px;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	white-space: nowrap;
	text-align: left;
	padding: 0 21px;
	line-height: 34px;
	text-decoration: none !important;
}

input, select
{
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
}

.Button .hover, .Button:hover
{
	color: #000000;
	text-decoration: none !important;
}

.Button .active
{
	color: #FCEFDE;
}

.Button .btn .l, .Button .btn .r
{
	display:block;
	position:absolute;
	z-index:-1;
	height: 102px;
	background-image: url('../images/Button.png');
}

.Button .btn .l
{
	left:0;
	right:11px;
}

.Button .btn .r
{
	width:411px;
	right:0;
	clip: rect(auto, auto, auto, 400px);
}

.Button .btn.hover .l, .Button .btn.hover .r, .Button .btn:hover .l, .Button .btn:hover .r
{
	top: -34px;
}

.Button .btn.active .l, .Button .btn.active .r
{
	top: -68px;
}


/* end Button */

/* begin Footer */
.Footer
{
	position:relative;
	z-index:0;
	overflow:hidden;
	width: 990px;
	margin: 5px auto 0px auto;
}

.Footer .Footer-inner
{
	height:1%;
	position: relative;
	z-index: 0;
	padding: 8px;
	text-align: center;
}

.Footer .Footer-background
{
	position:absolute;
	z-index:-1;
	background-repeat:no-repeat;
	/* background-image: url('../images/Footer.png'); */
	width: 990px;
	height: 150px;
	bottom:0;
	left:0;
}


.rss-tag-icon
{
	position: relative;
	display:block;
	float:left;
	background-image: url('../images/rssIcon.png');
	background-position: center right;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	height: 25px;
	width: 25px;
}




.Footer .Footer-text p
{
	margin: 0;
}

.Footer .Footer-text
{
	display:inline-block;
	color:#15150F;
	font-family: Arial, Helvetica, Sans-Serif;
	font-size: 11px;
}

.Footer .Footer-text a:link
{
	text-decoration: none;
	color: #88500C;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:visited
{
	text-decoration: none;
	color: #383829;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: underline;
}

.Footer .Footer-text a:hover
{
	text-decoration: none;
	color: #2A1904;
	font-family: Arial, Helvetica, Sans-Serif;
	text-decoration: none;
}
/* end Footer */

/* begin PageFooter */
.page-footer, .page-footer a, .page-footer a:link, .page-footer a:visited, .page-footer a:hover
{
	font-family:Arial;
	font-size:10px;
	letter-spacing:normal;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-decoration:underline;
	color:#BB8B11;
}

.page-footer
{
	margin:1em;
	text-align:center;
	text-decoration:none;
	color:#9A9A74;
}
/* end PageFooter */

/* begin LayoutCell */
.contentLayout .sidebar1
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 247px;
}
/* end LayoutCell */

/* begin LayoutCell */
.contentLayout .content
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 742px;
}
.contentLayout .content-wide
{
	position: relative;
	margin: 0;
	padding: 0;
	border: 0;
	float: left;
	overflow: hidden;
	width: 989px;
}
/* end LayoutCell */


/*table*/
.CSSTableGenerator {
	margin:0px;padding:0px;
	width:100%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#f9c236; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#cca11a; }.CSSTableGenerator td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:13px;
	font-size:11px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
		background:-o-linear-gradient(bottom, #7a6900 5%, #7a6900 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7a6900), color-stop(1, #7a6900) );
	background:-moz-linear-gradient( center top, #7a6900 5%, #7a6900 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a6900", endColorstr="#7a6900");	background: -o-linear-gradient(top,#7a6900,7a6900);

	background-color:#7a6900;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Helvetica;
	font-weight:bold;
	color:#ffffff;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #7a6900 5%, #7a6900 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7a6900), color-stop(1, #7a6900) );
	background:-moz-linear-gradient( center top, #7a6900 5%, #7a6900 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a6900", endColorstr="#7a6900");	background: -o-linear-gradient(top,#7a6900,7a6900);

	background-color:#7a6900;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

/*table*/

.css_tab {
	margin:0px;padding:0px;
	/* width:100%; */
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.css_tab table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.css_tab tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.css_tab table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.css_tab table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.css_tab tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.css_tab tr:hover td{
	/* background-color:#d3e9ff; */
	background-color:#FFFF85;
		

}
/* setting buat isi table*/
.css_tab td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px dotted #B8B8B8;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:10px;
	font-family:Verdana;
	font-weight:normal;
	color:#000000;
}.css_tab tr:last-child td{
	border-width:0px 1px 0px 0px;
}.css_tab tr td:last-child{
	border-width:0px 0px 1px 0px;
}.css_tab tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.css_tab th
{
 font-size:12px;
}
.css_tab tr:first-child td{
		background:-o-linear-gradient(bottom, #ff7f00 5%, #d69e3e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #d69e3e) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #d69e3e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#d69e3e");	background: -o-linear-gradient(top,#ff7f00,d69e3e);

	background-color:#ff7f00;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:17px;
	font-family:Helvetica;
	font-weight:bold;
	color:#e5e5e5;
}
.css_tab tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #ff7f00 5%, #d69e3e 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #d69e3e) );
	background:-moz-linear-gradient( center top, #ff7f00 5%, #d69e3e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#d69e3e");	background: -o-linear-gradient(top,#ff7f00,d69e3e);

	background-color:#ff7f00;
}
.css_tab tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.css_tab tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

    #menu5 {
     width: 200px;
    }
    #menu5 li a {
	font-family: Arial,Helvetica,Sans-Serif;
    height: 32px;
    voice-family: "\"}\"";
    voice-family: inherit;
    height: 20px;
    text-decoration: none;
    }	
    #menu5 li a:link, #menu5 li a:visited {
    /* color: #99CC99;	*/
	color: #339966;
    display: block;
	font-family: Arial,Helvetica,Sans-Serif;
    /* background: url(../images/menu5.gif); */ 
    padding: 8px 0 0 10px;
    }
	
    #menu5 li a:hover {
    color: #66CC33;
    background: url(../images/menu5.gif) 0 -32px;
    padding: 8px 0 0 10px;
    }
    #menu5 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    }