/* begin Box, Sheet */
.Sheet-tl
{
	clip: rect(auto 37px 37px auto);
}

.Sheet-tr
{
	clip: rect(auto auto 37px 37px);
}

.Sheet-bl
{
	clip: rect(37px 37px auto auto);
}

.Sheet-br
{
	clip: rect(37px auto auto 37px);
}

.Sheet-tc
{
	clip: rect(auto auto 37px auto);
}

.Sheet-bc
{
	clip: rect(37px auto auto auto);
}

.Sheet-cr
{
	clip: rect(auto auto auto 37px);
}

.Sheet-cl
{
	clip: rect(auto 37px auto auto);
}
/* end Box, Sheet */

/* begin Menu */
.nav .r
{
	clip: rect(auto auto auto 970px);
}
/* end Menu */

/* begin MenuItem */
.artmenu a .r
{
	clip: rect(auto auto auto 410px);
}
/* end MenuItem */

/* begin Box, Block */
.Block-tl
{
	clip: rect(auto 13px 13px auto);
}

.Block-tr
{
	clip: rect(auto auto 13px 13px);
}

.Block-bl
{
	clip: rect(13px 13px auto auto);
}

.Block-br
{
	clip: rect(13px auto auto 13px);
}

.Block-tc
{
	clip: rect(auto auto 13px auto);
}

.Block-bc
{
	clip: rect(13px auto auto auto);
}

.Block-cr
{
	clip: rect(auto auto auto 13px);
}

.Block-cl
{
	clip: rect(auto 13px auto auto);
}
/* end Box, Block */

/* begin BlockHeader */
.BlockHeader .r
{
	clip: rect(auto auto auto 985px);
}
/* end BlockHeader */

/* begin PostContent */
.PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.Button .btn .r
{
	clip: rect(auto auto auto 400px);
}
/* end Button */

